.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.h1 {
  display: inline-block;
  width: 100%;
  color: var(--text);
  font-weight: 700;
  /* text-transform: capitalize; */
  font-size: 7rem/* 96px */;
  line-height: 1;
}

.span{
  display: inline-block;
}


/* 2xl */
@media screen and (max-width: 1535px) {
}

/* xl */
@media screen and (max-width: 1270px) {
}

/* lg */
@media screen and (max-width: 1023px) {
}

/* md */
@media screen and (max-width: 767px) {
}

/* sm */
@media screen and (max-width: 639px) {
  .container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
