.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 0.25rem/* 4px */;
  background-color: transparent;
  border-color: var(--background-secondary);
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  margin-left: 1rem;
}