.container {
  padding: auto;
  margin: 10px 20px;
  background-color: var(--background);
}

.navigation {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  color: var(--text);
}

.link {
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
  color: var(--text);
  text-decoration: none;
}

.link:hover {
  color: var(--text-secondary);
}

@media (min-width: 640px) {
  .navigation {
    max-width: 50rem; 
  }
}
