[data-theme="dark"] {
  --background: #1b1b1b;
  --background-secondary: #f5f5f5;

  --primary: #58e6d9;
  --text: #f5f5f5;
  --text-secondary: #1b1b1b;

  --border-color: #4a5568;

  --mobile: rgb(245 245 245 / 0.75);
}

[data-theme="light"] {
  --background: #f5f5f5;
  --background-secondary: #1b1b1b;
  --primary: #b63e96;
  --text: #1b1b1b;
  --text-secondary: #f5f5f5;

  --border-color: #000;

  --mobile: rgb(27 27 27 / 0.9);
}

/* Responsive  */

/* 2xl */
@media screen and (max-width: 1535px) {
}

/* xl */
@media screen and (max-width: 1270px) {
}

/* lg */
@media screen and (max-width: 1023px) {
}

/* md */
@media screen and (max-width: 767px) {
}

/* sm */
@media screen and (max-width: 639px) {
}

/* xs */
@media screen and (max-width: 479px) {
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;525;800&display=swap');

/* Establece Montserrat como la fuente predeterminada */

body {
  font-family: "Montserrat", sans-serif;
  background: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
}
