.col_span {
  grid-column: span 12 / span 12;
}

.col_span_6 {
  grid-column: span 6 / span 6;
}

.article {
  position: relative;
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem /* 24px */;
  border-bottom-right-radius: 1rem /* 16px */;
  border-width: 1px;
  border-style: solid;
  border-color: var(--background-secondary);
  padding: 3rem /* 48px */;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
  background-color: var(--background);
}

.flex {
  flex-direction: column;
}

.divAbsolute {
  position: absolute;
  top: 0px;
  width: 101%;
  height: 103%;
  border-radius: 2.5rem /* 40px */;
  z-index: -10;
  right: -0.75rem /* -12px */;
  border-bottom-right-radius: 1.5rem /* 24px */;
  background-color: var(--background-secondary);
}

.linkImage {
  width: 50%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.5rem /* 8px */;
  padding-left: 1.5rem /* 24px */;
}

.linkImageProject {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.5rem /* 8px */;
  padding-left: 1.5rem /* 24px */;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.containerText {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 1.5rem /* 24px */;
}

.containerProject {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1rem /* 16px */;
}

.type {
  color: var(--primary);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.75rem /* 28px */;
}

.linkTitle {
  text-decoration: none;
}

.linkTitle:hover {
  text-decoration-line: underline;
  text-underline-offset: 2px;
  text-decoration-color: var(--primary);
}

.title {
  margin-top: 0.5rem /* 8px */;
  margin-bottom: 0.5rem /* 8px */;
  width: 100%;
  text-align: left;
  font-size: 2.25rem /* 36px */;
  line-height: 2.5rem /* 40px */;
  font-weight: 700;
  color: var(--text);
}

.titleProject {
  margin-top: 0.5rem /* 8px */;
  margin-bottom: 0.5rem /* 8px */;
  width: 100%;
  text-align: left;
  font-size: 2.25rem /* 36px */;
  line-height: 2.5rem /* 40px */;
  font-weight: 700;
  color: var(--text);
}

.paragraph {
  margin-top: 0.5rem /* 8px */;
  margin-bottom: 0.5rem /* 8px */;
  font-weight: 500;
  color: var(--text);
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
}

.skills {
  color: var(--primary);
  font-size: 1.125rem /* 18px */;
  font-weight: 500;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.containerLinks {
  margin-top: 0.5rem /* 8px */;
  display: flex;
  align-items: center;
}

.containerLinksProject {
  width: 100%;
  margin-top: 0.5rem /* 8px */;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkGithub {
  width: 2.5rem /* 40px */;
}

.iconGithub {
  color: var(--text);
  width: 100%;
  height: auto;
}

.linkVisit {
  margin-left: 1rem /* 16px */;
  border-radius: 0.5rem /* 8px */;
  background-color: var(--background-secondary);
  color: var(--text-secondary);
  padding: 0.5rem /* 8px */;
  padding-left: 1.5rem /* 24px */;
  padding-right: 1.5rem /* 24px */;
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 600;
  text-decoration: none;
}

/* Mini porject */
.miniProjectContainer {
  position: relative;
  width: 100%;
  padding: 1rem /* 16px */;
  padding-top: 1.5rem /* 24px */;
  padding-bottom: 1.5rem /* 24px */;
  margin-top: 1rem /* 16px */;
  margin-bottom: 1rem /* 16px */;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--background-secondary);
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-radius: 0.75rem /* 12px */;
}

.miniProjectContainer:first-child {
  margin-top: 0;
}

.linkMiniProject {
  text-decoration: none;
  color: var(--text);
}

.titleMiniProject {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
}

.titleMiniProject:hover {
  text-decoration-line: underline;
  text-underline-offset: 2px;
  text-decoration-color: var(--primary);
}

.imgMiniProject {
  width: 24rem /* 384px */;
  height: auto;
  display: none;
  position: absolute;
  border-radius: 0.5rem /* 8px */;
}

.spanMini {
  color: var(--primary);
  font-weight: 500;
  padding-left: 1rem /* 16px */;
}

/* xl */
@media screen and (max-width: 1270px) {
}

/* lg */
@media screen and (max-width: 1023px) {
  .article {
    flex-direction: column;
    padding: 2rem /* 32px */;
  }
  .linkImage {
    width: 100%;
  }
  .containerText {
    width: 100%;
    padding-left: 0;
    padding-top: 1.5rem /* 24px */;
  }
}

/* md */
@media screen and (max-width: 767px) {
  .imgMiniProject {
    display: none;
  }
  .divAbsolute {
    right: -0.5rem /* -8px */;
    width: 101%;
  }
}

/* sm */
@media screen and (max-width: 639px) {
  .spanMini {
    padding-left: 0px;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
  }
  .miniProjectContainer {
    flex-direction: column;
  }
  .skills {
    font-size: 0.775rem /* 16px */;
  }
  .title {
    font-size: 25px;
    line-height: 2rem /* 32px */;
  }
  .col_span_6 {
    grid-column: span 12 / span 12;
  }
  .linkVisit {
    font-size: 1rem /* 16px */;
    line-height: 1.5rem /* 24px */;
    padding-left: 1rem /* 16px */;
    padding-right: 1rem; /* 16px */
  }
  .paragraph {
    font-size: 12px /* 14px */;
    line-height: 15px /* 20px */;
  }
  .divAbsolute {
    height: 102%;
    width: 100%;
    border-radius: 1.5rem /* 24px */;
  }
}

/* xs */
@media screen and (max-width: 479px) {
  .type {
    font-size: 1rem /* 16px */;
    line-height: 1.5rem /* 24px */;
  }
  .article {
    border-radius: 1rem /* 16px */;
    border-bottom-right-radius: 1.5rem /* 24px */;
    padding: 1rem /* 16px */;
  }

  .divAbsolute {
    right: -0.5rem /* -8px */;
    border-radius: 1.5rem /* 24px */;
    width: 100%;
  }
}
