.footer {
  color: var(--text);
  width: auto;
  font-weight: 500;
  font-size: 24px; /* 18px */
  line-height: 1.75rem; /* 28px */
  border-top: 2px solid var(--background-secondary); /* Cambiado a un borde superior */
  padding-top: 2rem; /* 32px */
}

.layout {
  display: flex;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem /* 32px */;
  padding-bottom: 2rem /* 32px */;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  align-items: center;
}

.span {
  color: var(--primary);
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  padding-left: 0.25rem /* 4px */;
  padding-right: 0.25rem /* 4px */;
}

.link {
  text-decoration-line: underline;
  text-underline-offset: 2px;
  color: var(--text);
}

.link:hover {
  color: var(--primary);
}

/* lg */
@media screen and (max-width: 1023px) {
  .container {
    padding-top: 8px /* 24px */;
    padding-bottom: 8px /* 24px */;
  }
  .layout {
    flex-direction: column;
    padding-top: 1.5rem /* 24px */;
    padding-bottom: 1.5rem /* 24px */;
    font-size: 18px; /* 18px */
  }
}

/* sm */
@media screen and (max-width: 639px) {
}

/* xs */
@media screen and (max-width: 479px) {
}
