.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 0.25rem/* 4px */;
  margin-right: 4px;
  cursor: pointer;
  border: none;
}

.buttonDark{
  background-color: var(--background);
}

.buttonLight{
  background-color: var(--background);
}

.icons{
  width: 100%;
  height: auto;
  width: 24px;
  height: 24px;

}

.iconFill{

  fill: var(--background);
}
