.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 0.25rem/* 4px */;
  margin-right: 4px;
  cursor: pointer;
  border: none;
}

.buttonDark{
  background-color: var(--background-secondary);
}

.buttonLight{
  background-color: var(--background);
}
