.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 0.25rem/* 4px */;
  border: none;
  margin: 4px;
  cursor: pointer;
}

.buttonDark{
  background-color: var(--background);
}

.buttonLight{
  background-color: var(--background);
}

.icons{
  width: 100%;
  height: auto;
}

.iconFill{
  width: 24px;
  height: 24px;
  fill: var(--background);
}
