.mainContainer {
  width: 100%;
  min-height: 100vh;
}

.mainPage {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: var(--text);
}

.layout {
  padding-top: 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.containerImage {
  width: 50%;
}

.image {
  width: 90%;
  height: auto;
}

.containerText {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.par {
  margin-top: 4px /* 16px */;
  margin-bottom: 1rem /* 16px */;
  font-size: 1rem /* 16px */;
  line-height: 1.5rem /* 24px */;
  font-weight: 50%;
}

.animatedText {
  font-size: 3.75rem /* 60px */ !important;
  line-height: 1 !important;
  margin-bottom: 1rem /* 16px */;
  text-align: left !important;
  margin-top: 4px; /* Ajusta el espacio encima del texto animado */
}

.contacts {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-top: 8px;
}

.resumeLink {
  display: flex;
  align-items: center;
  background-color: var(--background-secondary);
  color: var(--text-secondary);
  padding: 10px;
  padding-left: 1.5rem /* 24px */;
  padding-right: 1.5rem /* 24px */;
  border-radius: 8px;
  font-weight: 600;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  text-decoration: none;
}

.resumeLink:hover {
  background-color: var(--background);
  color: var(--text);
  border-color: var(--background-secondary);
}

.arrow {
  width: 100%;
  height: auto;
  font-size: 1em;
  stroke-width: 0.7;
  margin-left: 4px;
  width: 24px;
  font-weight: 600;
}

.contactLink {
  margin-left: 16px;
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--text);
  text-decoration-line: underline;
}

.contactLink:hover {
  color: var(--primary);
}

.yinYan {
  position: absolute;
  display: inline-block;
  width: 6rem;
  right: 2rem;
  bottom: 2rem;
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.moveYin {
  width: 100%;
  height: auto;
  animation: rotate infinite 1.5s linear;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* xl */
@media screen and (max-width: 1270px) {
  .animatedText {
    font-size: 3rem /* 48px */ !important;
    line-height: 1 !important;
  }
}

/* lg */
@media screen and (max-width: 1023px) {
  .yinYan {
    display: none;
  }
  .contacts {
    align-self: center;
  }
  .animatedText {
    text-align: center !important;
    font-size: 3.75rem /* 60px */ !important;
    line-height: 1 !important;
  }
  .container {
    flex-direction: column;
  }
  .containerText {
    width: 100%;
    text-align: center;
  }
}

/* md */
@media screen and (max-width: 767px) {
  .yinYan {
 display: none;
  }
  .resumeLink {
    padding: 8px;
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
    font-size: 1rem /* 16px */;
    line-height: 1.5rem /* 24px */;
  }
  .animatedText {
    font-size: 3rem /* 48px */ !important;
    line-height: 1 !important;
  }
  .containerImage {
    width: 100%;
  }
  .image {
    width: 100%;
    display: inline-block;
  }
  .par {
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
  }
}

/* sm */
@media screen and (max-width: 639px) {
  .animatedText {
    font-size: 1.875rem /* 30px */ !important;
    line-height: 2.25rem /* 36px */ !important;
  }
  .par {
    font-size: 0.75rem /* 12px */;
    line-height: 1rem;
  }
}

/* xs */
@media screen and (max-width: 479px) {
}
